@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ff-good-web-pro';
    src: url('/assets/fonts/ff-good-pro-bold.woff2') format('woff2');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'ff-good-web-pro';
    src: url('/assets/fonts/ff-good-pro-bold-italic.woff2') format('woff2');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ff-good-web-pro';
    src: url('/assets/fonts/ff-good-pro-regular.woff2') format('woff2');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ff-good-web-pro';
    src: url('/assets/fonts/ff-good-pro-regular-italic.woff2') format('woff2');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'ff-good-web-pro-condensed';
    src: url('/assets/fonts/ff-good-pro-condensed-bold.woff2') format('woff2');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'ff-good-web-pro-condensed';
    src: url('/assets/fonts/ff-good-pro-condensed-bold-italic.woff2') format('woff2');
    font-display: auto;
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'ff-good-web-pro-condensed';
    src: url('/assets/fonts/ff-good-pro-condensed-regular.woff2') format('woff2');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'ff-good-web-pro-condensed';
    src: url('/assets/fonts/ff-good-pro-condensed-regular-italic.woff2') format('woff2');
    font-display: auto;
    font-style: italic;
    font-weight: 400;
}

[data-theme='dark'] {
    --unique-color: #371835;
    --rare-color: #192640;
    --uncommon-color: #613513;
    --pf-action-free: url('/assets/images/pf-action-free-light.png');
    --pf-action-reaction: url('/assets/images/pf-action-reaction-light.png');
    --pf-action-one: url('/assets/images/pf-action-1-light.png');
    --pf-action-two: url('/assets/images/pf-action-2-light.png');
    --pf-action-three: url('/assets/images/pf-action-3-light.png');
}

[data-theme='light'] {
    --unique-color: #e65cda;
    --rare-color: #5082e6;
    --uncommon-color: #e66f15;
    --action-icon-color: #000000;
    --pf-action-free: url('/assets/images/pf-action-free.png');
    --pf-action-reaction: url('/assets/images/pf-action-reaction.png');
    --pf-action-one: url('/assets/images/pf-action-1.png');
    --pf-action-two: url('/assets/images/pf-action-2.png');
    --pf-action-three: url('/assets/images/pf-action-3.png');
}

:root {
    --vsbs-background: oklch(var(--b1)); /* base-100 */
    --vsbs-border-color: oklch(var(--b2)); /* base-200 */
    --vsbs-handle-background: oklch(var(--bc) / 0.5); /* base-content opacity 50% */
}

/* TODO: Add more toast styles */
/* Toast style for skill checks */
.Vue-Toastification__toast--default.roll-toast {
    background-color: oklch(var(--su));
}

.Vue-Toastification__icon {
    width: 30px !important;
    height: 30px !important;
}

.Vue-Toastification__icon path {
    fill: #fff;
}
