@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
    --unique-color: #371835;
    --rare-color: #192640;
    --uncommon-color: #613513;
}

[data-theme='light'] {
    --unique-color: #e65cda;
    --rare-color: #5082e6;
    --uncommon-color: #e66f15;
}

:root {
    --vsbs-background: oklch(var(--b1)); /* base-100 */
    --vsbs-border-color: oklch(var(--b2)); /* base-200 */
    --vsbs-handle-background: oklch(var(--bc)/0.5); /* base-content opacity 50% */
}

/* TODO: Add more toast styles */
/* Toast style for skill checks */
.Vue-Toastification__toast--default.roll-toast {
    background-color: oklch(var(--su));
}

.Vue-Toastification__icon {
    width: 30px !important;
    height: 30px !important;
}

.Vue-Toastification__icon path {
    fill: #fff;
}
